* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .login button,
.messagebox button,
.mid button,
.profile button,
.newgroup button,
.login textarea,
.messagebox textarea,
.mid textarea,
.profile textarea,
.newgroup textarea {
  color: black;
  background-color: white;
} */

.hidden {
  display: none !important;
}

.styleaslink {
  cursor: pointer;
}

.cat {
  width: 400px;
  height: 400px;
}

.body {
  display: flex;
  position: relative;
}

.profilebackground {
  width: 100%;
  min-height: 50vh;
  background-color: lightgray;
  /* background-image: url("https://plus.unsplash.com/premium_photo-1723568460657-2113d189c4a6?q=80&w=2304&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

.dispchange {
}

.highlight {
  cursor: pointer;
}

.highlight:hover {
  font-weight: bold;
  color: navy;
}

.green {
  background-color: green;
  color: white;
}

.grey {
  background-color: dimgray;
}

.biotext {
  width: 30vw;
  height: 100px;
}

.passwordwrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.changepass,
.biobutton {
  width: 200px;
  height: 40px;
}

.biobutton {
  margin-left: 5vw;
}

.changepass {
  margin-right: 5vw;
}

.biodiv,
.xmargin {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 40vh;
}

.xmargin p {
  width: 60vw;
  height: 15vh;
  word-wrap: break-word;
  overflow: auto;
}

.profilegroup {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 10px 5vw;
  /* gap: 10px; */
}

button {
  border: 1px solid black !important;
}

.red {
  background-color: red;
  color: white;
  border-color: white;
}

.groupedtogether {
  display: flex;
  gap: 20px;
  /* position: absolute;
  top: 15vh;
  left: 5vw; */
}

.left {
  width: 5vw;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: initial;
  /* min-width: 50px; */
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
}
.ago {
  grid-area: 1 / 4 / 1 / 5;
  /* position: absolute;
    left: 65%;
    top: 35%; */
}

.chatbutton {
  position: absolute;
  left: 70%;
  top: 25%;
}

.orange {
  background-color: orange;
}

.newgroup {
  height: 100vh;
  width: 80vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

#groupname {
  width: 300px;
  height: 40px;
}

.yesorno {
  display: flex;
  gap: 20px;
}

#firstmessage {
  width: 500px;
  height: 60px;
}

.editdelwrapper {
}

.edit {
  /* width: 50px;
  height: 50px; */
}

.groupinfo {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30vw;
}

.chatmenu {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
  position: sticky;
  top: 0;
  left: 0;
}

.chatmenutop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
}

.searchbar {
  width: 100px;
  height: 25px;
}

.textmessage {
  word-wrap: break-word;
  padding-bottom: 5px;
}

.chatmenubot {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mid {
  border-right: 3px solid black;
  height: 100vh;
  width: 15vw;
  min-width: 320px;
  color: black;
  background-color: white;
}

.overflowdiv {
  overflow-y: scroll;
  height: 85%;
}

.wrap {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 6fr 11fr 3fr 2fr;
  /* justify-content: space-between;
  align-items: center; */
  justify-items: start;
  align-items: center;
  height: 100px;
  cursor: pointer;
  position: relative;
}
.chatinfotop {
  height: 10%;
  width: 100%;
  /* position: sticky; */
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  border-bottom: 2px solid black;
  justify-content: space-between;
}

.collrightsvg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.collleft {
  display: flex;
  justify-content: flex-end;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.collright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
  position: relative;
}

.profcollright {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
  /* background-color: white; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: none;
}

.wrap:hover {
  background-color: blue;
  color: white;
}

.messagebox {
  height: 100vh;
  width: min(80vw, calc(95vw - 320px));
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  /* min-width: 500px; */
  /* overflow: hidden; */
}

.profile {
  height: 100vh;
  width: min(80vw, calc(95vw - 320px));
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  color: black;
  background-color: white;
  /* padding: 0 10vw; */
  /* overflow: hidden; */
}

#entermessage {
  width: 60vw;
  height: 100%;
  display: flex;
  margin: auto;
}

.grouped,
.chatdeletediv {
  display: flex;
  gap: 50px;
}

.buttonsmobile {
  display: flex;
  gap: 20px;
}

.row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.newchatrow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messagemasterwrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
  /* display: grid;
  grid-template-rows: 1fr;
  align-items: end; */
  width: 100%;
  height: 83%;
  overflow-y: scroll;
}

.topbuttons {
  /* margin-left: 80%; */
  display: flex;
  gap: 30px;
}

.messagewrapper {
  width: 100%;
}

/* .daywrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

.grid {
  width: 80%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  padding: 30px;
  grid-gap: 10px;
  overflow-y: scroll;
}

.useravatarwrapper {
  max-width: 300px;
}

svg {
  cursor: pointer;
}

.message {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 0 20px;
  justify-content: start;
  align-items: center;
}

#image,
#background,
#avatar {
  display: none;
}

.imgcontainer {
  height: 100vh;
  width: min(80vw, calc(95vw - 320px));
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://images.unsplash.com/photo-1548620848-d375c7919ea2?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; */
}

.message.right {
  justify-content: end;
}

.azure {
  background-color: azure;
  border: 1px solid azure;
  border-radius: 15%;
  padding: 10px 20px;
  max-width: 50vw;
}

.imgmessage {
  padding: 10px 20px;
}

.imgmessage img {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: cover;
}

.smallgap {
  display: flex;
  gap: 20px;
  padding-right: 1vw;
}

.mobile {
  display: none;
}

.profbuttons {
  display: flex;
  justify-content: space-between;
}

.chatinfo {
  /* position: absolute;
  top: 25%;
  left: 25%; */
  grid-area: 1 / 3 / 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.closeprof {
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  /* background-image: url("https://plus.unsplash.com/premium_photo-1723587567569-0545a68c6b54?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
}

.avatar {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;
  /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/2492254803012160630/33FDDE88D49A58AF9C263ED4354B43193F50903A/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"); */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form input {
  height: 30px;
  width: 300px;
}

.whiteborder {
  border-color: white;
}

.login {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  gap: 10px;
  background-color: white;
  color: black;
}

.login h1 {
  z-index: 2;
  text-align: center;
}

.form,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  gap: 5px;
}

.bigavatar {
  width: 150px;
  height: 150px;
}

.chatavatar {
  /* position: absolute;
  top: 5%;
  left: 5%; */
  grid-area: 1 / 2 / 1 / 3;
}

.bottomsection {
  width: 100%;
  height: 7%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favicon {
  /* position: absolute;
  left: 95%;
  top: 40%; */
  grid-area: 1 / 5 / 1 / 6;
}

.date {
}

.ngright {
  display: none;
  /* position: absolute;
  left: 16vw;
  top: 2vh; */
}

@media only screen and (max-width: 2100px) {
  .mid .avatar {
    min-width: 60px;
    min-height: 60px;
  }
  .bigavatar.avatar {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .whiteborder.avatar {
    min-width: 40px;
    min-height: 40px;
  }
  .cat {
    width: 300px;
    height: 300px;
  }
  .xmargin {
    max-height: 50vh;
  }
  .xmargin p {
    height: 30vh;
    width: 80%;
  }
  .bigavatar.avatar {
    width: 75px;
    height: 75px;
  }
  .profilebackground {
    min-height: 40vh;
  }
  .chatdeletediv,
  .messagedeletediv {
    position: absolute;
    left: 10%;
    top: 40%;
    padding: 30px;
    border: 3px solid gold;
    z-index: 2;
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
  }
  .messagedeletediv {
    gap: 30px;
  }
  .chatdeletediv {
    gap: 20px;
  }
  .chatdeletediv button {
    height: 50px;
    width: 70px;
    font-weight: bold;
    font-size: 15px;
  }
  .yes {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  .no {
    background-color: red;
    color: white;
    font-weight: bold;
  }
  .mobile {
    display: block !important;
  }
  .nonmobile {
    display: none;
  }
  /* .biobutton {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  h2 {
    font-size: 20px;
  }
  .smallgap {
    gap: 10px;
    margin: 0 10px;
  }
  .avatar {
    min-width: 50px;
    min-height: 50px;
  }
  .imgcontainer img {
    max-width: 300px;
    max-height: 300px;
  }
  .profbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .grouped {
    gap: 20px;
  }

  .biobutton,
  .changepass {
    margin: 0;
  }
  .topbuttons button {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 702px) {
  .left {
    width: 100vw;
    height: 5vh;
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: row;
  }
  .mid {
    height: 95vh;
    grid-area: 1 / 1 / 2 / 2;
    min-width: 100vw;
  }
  .messagebox,
  .newgroup {
    height: 95vh;
    width: 100vw;
    grid-area: 1 / 1 / 2 / 2;
    color: black;
    background-color: white;
  }

  .imgcontainer {
    display: none;
  }
  .profile {
    height: 95vh;
    width: 100vw;
  }
  .groupinfo {
    font-size: 15px;
  }
  .cat {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 60%;
  }
  .form h2 {
    font-size: 60%;
  }
  .profcollright,
  .collleft,
  .collright,
  .ngright {
    display: block !important;
  }
  .body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 95vh 5vh;
  }
  .collapse {
    display: none !important;
  }
  .newgroup input {
    max-width: 200px;
  }

  .topbuttons {
    gap: 10px;
    flex-direction: column;
  }
  .topbuttons button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  .chatinfotop .avatar {
    max-width: 50px;
    max-height: 50px;
  }

  /* .groupedtogether {
    align-items: center;
    justify-content: center;
  } */

  .profilebackground {
    min-height: 30vh;
  }
  .closeprof {
    width: 48px;
    height: 48px;
    right: 0px;
    top: 0px;
  }
  .profcollright {
    width: 36px;
    height: 36px;
    right: 0px;
    top: 0px;
  }
  .row {
    padding-right: 50px;
    gap: 20px;
  }
  .profile textarea {
    max-width: 50vw;
  }

  .biodiv p,
  .xmargin p {
    width: 80%;
    height: 20vh;
    word-wrap: break-word;
    overflow-y: auto;
  }
  .xmargin {
    max-height: 60vh;
  }

  .biodiv textarea {
    min-width: 250px;
    min-height: 10vh;
  }
  .chatdeletediv button {
    height: 50px;
    width: 70px;
    font-weight: bold;
    font-size: 15px;
  }
  .login {
    font-size: 15px;
  }
}
